@using SklepBlog.Models
@model SklepBlog.Models.Article

@{
    ViewBag.Title = "DetalisArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";;
}
    <div id="Breadcrumb">
        <img src="../Content/Images/dommaly.png" />
        <a href="link">
            @Html.MvcSiteMap().SiteMapPath()
        </a>
    </div>
<div id="KategorieListPrawaSekcja">
    <section id="SekcjaKurs">
        <div id="KursLewa">
            <img src="~/Content/PicturesProducts/@Model.NameOfImageArticle" />
        </div>
        <div id="KursPrawa">
            <div id="KursNazwa">
                <h1>
                    @Model.ArticleTitle
                </h1>
                <h2>
                    @Model.NameOfImageArticle
                </h2>
            </div>
            <div id="KursOpis">
                @Model.ArticleContent
            </div>
            <div id="KursInfo">
                @Model.ArticleShortcut
            </div>

        </div>
    </section>
</div>

