@model BlogShopMVC.ViewModels.HomeViewModel

@using BlogShopMVC.Infrastructure
@{
    ViewBag.Title = "Blog Shop";
}
<nav class="KategorieVertical">
    <ul>
        @foreach (var category in Model.Categories)
        {
            <li>
    
                <a href="@Url.Action("List", "Categories", new { categoryName = category.CategoryName})">
                    @category.CategoryName
                </a>
            </li>

        }

    </ul>

</nav>

  
<br />
    
<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var category1 in Model.Products2)
        {
            <li>
                <article>
                    <a class="addToCartLink" href="@Url.Action("AddToCart", "Cart", new { id = category1.ProductId})">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="productLink" href="@Url.Action("Details", "Categories", new {id = category1.ProductId})">
                        <img src="" />
                        <h1>
                            @category1.ProductMake , @category1.ProductModel, @category1.ProductPrice
                        </h1>
                    </a>
                </article>
            </li>
        }

    </ul>
</section>
<br />
<br />
<br />


<a class="button1" href="#">Kup teraz</a>
<a class="button2" href="#">Więcej</a>


<br />
<br />
<br />
<br />
<br />
<br />
<br />

